* {
  box-sizing: border-box;
}

html {
  background-color: red;
  cursor:crosshair;
  margin: 20px;
}

body {
    font-family: 'Azeret Mono', monospace;
}

h1 {
  color: white;
font-family:sans-serif;
  font-size: 50px;
  background-color: black;
  text-align: center;
  border-radius: 50px;
  border: dotted red;
  padding: 5px;
}

h2 {
  color: white;
  font-size: 50px;
  background-color: black;
  text-align: center;
  border-radius: 50px;
  border: dotted red;
  padding: 2px;
}

p {
color: white;
font-family: sans-serif;
font-size: 30px;
background-color: black;
text-align: center;
border-radius: 50px;
border: dotted red;
padding: 5px;
}

a{
  color: white;
  text-decoration:none;
}

p:hover {
  font-weight: lighter;
  text-decoration:underline;
  text-decoration-style:wavy;
}

ul{
  list-style: lower-alpha;
}

/* #grad {
  background-image: linear-gradient(#FA8072, red);
} */
