html {
background-image: url(images/masked-cat.jpg);
background-size: 500px;
}

p {
color: green;
font-size: 50px;
background-color: #00FFFF;
}

h1 {
  text-align: center;
}

.cat-img{
  width:700px;
  display: block;
  margin: 0 auto;
}

.common{
  color: white;
  background: #000;
  border: 2px solid red;
  border-radius: 50px;
  padding: 20px;
  margin: 50px;
}
