* {
  box-sizing: border-box;
}

html {
    background: rgb(162, 204, 139);
    /* font-size: 150%; */
}

body {
  margin:0;
}

img {
  max-width: 100%;
}

p {
  background: rgb(236, 235, 186);
  max-width: 800px;
  font-size: 1.5rem;
  padding: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  background: blue;
  width:200px;
  height:200px;
}

.object {
  background: purple;
  width:50vw;
  height:50vh;
}

.little-box {
  background: rgb(237, 183, 126);
  width: 50%;
  height: 50%;
}

@media screen and (max-width:800px) {
  html {
    background: rgb(240, 62, 88);
    font-size: 200%;
  }

.container {
  flex-direction: column;
}

.item {
  width: 100%;
}
}
